/* ========== TRANSITIONS ========== */


body {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(0);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}