* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  color: #fff;
  margin: 10px auto 30px;
  width: 30em;
  opacity: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.main {
  height: 50vh;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: cover;
  width: 100%;
  text-align: center;
}

.homepage-img {
  border-radius: 50%;
  display: block;
  margin: 40px auto;
  height: 220px;
  width: 250px;
}

.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;

}

ul {
  display: inline-block;
}

ul > li {
  display: inline-block;
  list-style-type: none;
  justify-content: center;
  margin: 0.25rem;
}

.button {
  display: flex;
  border: 1px solid rgba(360, 360, 360, 0.2);
  border-radius: 30px;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  width: 9.5rem;
  height: 3.5rem;
  line-height: 2.25rem;
  justify-content: center;
  padding-top: 8px;
}

.button:hover {
  border: 1px solid #427fcf;
  color: #427fcf;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

.button:active {
  transform: scale(0.95);
}

footer #code-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

footer #code-link:hover {
  text-decoration: underline;
}

footer .coded-by {
  letter-spacing: 4px;
  position: relative;
  top: 20px;
}