* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  gap: 8em;
  background: linear-gradient(160deg, #D3B1B6 10%, #A4AADE 100%);
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 50px;
}

.right, 
.left {
  border-radius: 50%;
  display: block;
  margin: 40px auto;
  height: 220px;
  width: 250px;
}

h1, h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 10px;
  letter-spacing: 5px;
}

h1 {
  font-size: 22px;
  position: relative;
  bottom: 20px;

}

ul {
  margin: 0;
  padding: 0;
}

ul li{
  margin: 5px;
  list-style-image: url(./icons/arrow_forward_right.svg);
  list-style-position: inside;
}

/* ========== RESPONSIVE LAYOUT ========== */

@media screen and (max-width: 600px) and (min-width: 0) {
  body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  .main {
    gap: 2em;
  }

  h1 {
    font-size: 18px;
    bottom: 10px;
  }

  h2 {
    bottom: 5px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .finished > h2 {
    text-align: left;
  }

  .finished > ul > li {
    position: relative;
    right: 12px;
  }

  .reading-list {
    position: relative;
    bottom: 50px;
  }

  .reading-list > h2 {
    text-align: right;
  }

  .reading-list > ul > li {
    position: relative;
    left: 10px;
  }

  .image {
    height: 120px;
    width: 130px;
  }

  .right {
    bottom: 20px;
  }

  ul > li {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
    .reading-list {
    position: relative;
    bottom: 50px;
  }

  .reading-list > ul > li {
    position: relative;
    left: 10px;
  }
}