* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  color: #fff;
  margin: 10px auto 30px;
  width: 30em;
  opacity: 50%;
  position: relative;
  bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.main {
  background: linear-gradient(160deg, #D3B1B6 10%, #A4AADE 100%);
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.img-top {
  display: block;
  margin: 40px auto;
  height: 160px;
  width: auto;
}

h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  letter-spacing: 5px;

}

ul {
  margin: 0;
  padding: 0;
}

ul li{
  margin: 5px;
  list-style-image: url(./icons/arrow_forward_right.svg);
  list-style-position: inside;
}

footer .icons {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
}

footer .home-icon,
.arrow-left,
.arrow-right {
  display: block;
  margin: 30px auto 10px;
  opacity: 60%;
}

.arrow-right,
.arrow-left {
  width: 25px;
  height: 25px;
}

footer #code-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

footer #code-link:hover {
  text-decoration: underline;
}

footer .coded-by {
  letter-spacing: 4px;
  position: relative;
  top: 20px;
}

/* ========== RESPONSIVE LAYOUT ========== */

@media screen and (max-width: 600px) and (min-width: 0) {
  body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
  }

  .main {
    padding-bottom: 0;

  }

  hr {
    width: 12em;
    margin: 0 auto;
    position: relative;
    bottom: 65px;
  }

  h2 {
    font-size: 16px;
    padding-top: 5px;
  }

ul {
  margin-top: 15px;
}

 h2, ul > li {
    position: relative;
    bottom: 50px;
  }

ul > li {
  line-height: 1.5;
}

footer .coded-by {
  font-size: 14px;
}

}

@media screen and (max-width: 375px) {
  body {
    margin-top: 40%;
  }
}
