* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  color: #fff;
  margin: 10px auto 30px;
  width: 30em;
  opacity: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.main {
  height: 50vh;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: cover;
  width: 100%;
  text-align: center;
}

.homepage-img {
  border-radius: 50%;
  display: block;
  margin: 40px auto;
  height: 220px;
  width: 250px;
}

.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;

}

footer .icons {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
}

footer .home-icon,
.arrow-left,
.arrow-right {
  display: block;
  margin: 30px auto 10px;
  opacity: 60%;
}

.arrow-right,
.arrow-left {
  width: 25px;
  height: 25px;
}

footer #code-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

footer #code-link:hover {
  text-decoration: underline;
}

footer .coded-by {
  letter-spacing: 4px;
  position: relative;
  top: 20px;
}