* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
  height: 60vh;
  background: linear-gradient(160deg, #D3B1B6 10%, #A4AADE 100%);
  background-size: cover;
  width: 100%;
  text-align: center;
}

.about-img {
  border-radius: 50%;
  display: block;
  height: 220px;
  width: 250px;
  
}

.right {
  position: relative;
  bottom: 50px;
}

.left {
  position: relative;
  top: 20px;
}

h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  letter-spacing: 5px;

}

ul {
  margin: 0;
  padding: 0;
}

ul li{
  margin: 5px;
  list-style-image: url(./icons/arrow_forward_right.svg);
  list-style-position: inside;
}

footer .icons {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
}

footer .home-icon,
.arrow-right {
  display: block;
  margin: 30px auto 10px;
  opacity: 60%;
}

.arrow-right {
  width: 25px;
  height: 25px;
}

footer #code-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

footer #code-link:hover {
  text-decoration: underline;
}

footer .coded-by {
  letter-spacing: 4px;
  position: relative;
  top: 20px;
}

/* ========== RESPONSIVE LAYOUT ========== */

@media screen and (max-width: 600px) and (min-width: 0) {
  body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  .main {
    gap: 2em;
  }

  h2 {
    bottom: 5px;
    font-size: 18px;
  }

  .about-img {
    height: 120px;
    width: 130px;
  }

  .right {
    bottom: 20px;
  }

  ul > li {
    font-size: 14px;
  }

  


  footer .coded-by {
  font-size: 14px;
}
}
